.canvas-style {
	border:6px solid #999; 
	border-radius:20px; 
	margin:0 auto 20px auto; 
	display:block; 
	background:#fff; 
	cursor:crosshair;
	width: 220px;
	height: 90px;
}

@media all and (max-width: 1024px){
	.canvas-style-first {

		width: 140px;
		height: 60px;
		border:6px solid #999; 
	}

}

@media all and (max-width: 500px) {
	.canvas-style-first {
		margin-top: 3px;
		width: 120px;
		height: 40px;
		border:3px solid #999;
		border-radius:10px;  
	}


}


